force-app/main/default/flows/Order_Count_Of_Account_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Account_Was_Changed_And_Old_Country_Is_Targer</name>
        <label>Is Account Was Changed And Old Country Is Target</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_Account_Was_Changed_And_Old_Country_Is_Targer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>targetCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Counter_Flow_2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Or_Country_Or_Account_Was_Changed</name>
        <label>(Is New Or Account Was Changed AND Country Is Target) OR (Country Was Changed AND (Old OR New  Country Is Target))</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Was_Changed_And_Old_Country_Is_Targer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>((1 OR 2) AND 3) OR (4 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>targetCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>targetCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>targetCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_orders_for_current_Account</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Order Count Of Account v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Count Of Account v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Or_Country_Or_Account_Was_Changed</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Count_orders_for_current_Account</name>
        <label>Count orders for current Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Account_Was_Changed_And_Old_Country_Is_Targer</targetReference>
        </connector>
        <flowName>Order_Count_For_Account_v_2</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetCountry</name>
            <value>
                <elementReference>targetCountry</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Order_Counter_Flow_2</name>
        <label>Order Counter Flow 2</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <flowName>Order_Count_For_Account_v_2</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetCountry</name>
            <value>
                <elementReference>targetCountry</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>targetCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </variables>
</Flow>
